:root {
	--mainColor: #5d3856;
	--secondaryColor: #3f253a;

	--borderColor: #291825;

	--mainText: #ffffff;
	--secondaryText: #dddddd;

	--themeDotBorder: #fff;

	--previewBg: #1035573d;
	--previewShadow: #1a0f17;

	--buttonColor: black;
}

